.main{
    margin-top:150px;
}

.infos-row{
    margin:auto;
    text-align:center;
    border: ridge 2px grey;
    border-radius:15px;
    background: linear-gradient(45deg, #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%);
    padding-top:25px;
    padding-bottom:25px;
}

.infos-row img{
    width:320px;
    height:260px;
}


.infos-row h1{
    position:relative;
    font-size:4em;
    bottom:20px;
    margin-bottom:-25px;
}

.infos{
    text-align:left;
}

.ajout{
    margin-top:35px;
}

.infos-row h2{
    font-weight:none;
    font-size:1.5em;
    color: #7a7a7a;
}

.autres-albums-artiste-row h1{
    text-align:left;
    margin-left:15px;
    font-size:1.3em;
}

.autres-albums-artiste-row{
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
    margin-bottom:30px;
    text-align:center;
    background: linear-gradient(45deg, #feffff 0%,#d2ebf9 100%);
    border: ridge 2px #0fc1fc;
    border-radius:15px;
}

.autres-albums-artiste-row img{
    width:65%;
}

.autres-albums-artiste-row h2{
    margin:auto;
    font-size:15px;
    margin-bottom:45px;
    margin-top:7px;
}

.autres-albums-artiste-row a:hover{
    text-decoration:none;
}

.notes-block{
    margin-top:25px;
    background-color: #e8e8e8;
    box-shadow: 2px 2px 10px #c1c1c1;
    padding: 7px;
}

.notes-block h3, .notes{
    text-align:center;
}

.notes{
    list-style-type:none;
}

.notes li{
    display:inline;
}


.grey-block{
    width:100px;
    padding:8px;
    text-align:center;
    background-color: #f4f4f4;
    margin:10px 0 0 25px;
    font-size: 1.3em;
    box-shadow: 2px 2px 10px #c1c1c1;
}

.moyenne{
    width:265px;
    display:inline;
    background-color:#efefb6;
}


@media (max-width:768px){
    .row h1{
	position:relative;
	top:25px;
	margin-bottom:85px;
    }
    
    .row img{
	width:50%;
    }

    .infos{
	text-align:center;
    }

    .ajout{
	margin-bottom:30px;
    }

    .autres-albums-artiste-row h2{
	width:50%;
    }

    .grey-block{
	margin:10px auto 30px auto;
    }
}