.main{
    margin-top:100px;
}

h2{
    color:#858585;
    font-size:1.7em;
}

.row{
    margin-top:50px;
    text-align:center;
}

.page-link{
    display:inline-block;
    padding:10px;
    margin-top:30px;
    margin:auto;
    width:80px;
    vertical-align:middle;
    height:50px;
    background:#ededed;
    text-decoration:none;
    border-radius:5px;
    font-size:25px;
}


.page-link:hover{
    text-decoration:none;
}

h3{
    font-size:1.3em;
    width:85%;
    margin:auto;
    margin-top:18px;
}


.pagination{
    /* Centrage de la liste des liens de pagination */
    display:block;
    width:100% !important;
    text-align:center;
    margin-top:20px;
    margin-bottom:20px;
}

.pagination li{
    display:inline-block;
    text-align:center;
}

.pagination .active{
    /* Le numéro de la page active est non cliquable et en noir */
    color:black;
    pointer-events: none;
    cursor: default;
}

.pagination .active:hover{
    color:black;
    text-decoration:none;
}

p{
    /* Texte "Aucun résultat trouvé" */
    text-align:center;
    font-size:2em;
    margin: 50px auto;
    color:#7a0002;
    width:50%;
    border-radius:8px;
}

@media (max-width:768px){
    .num-link{
	/* On cache les autres numéros quand l'écran n'est pas assez large pour gagner de la place */
	display:none;
    }
}