{% extends "resultats_base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='resultats_cover.css') }}" /> <!-- Un CSS spécifique aux résultats avec résultats de liens textes uniquement -->
{% endblock %}

{% block title %}Albums{% endblock %}

{% block main %}

<h1>Tous nos albums</h1>

{% block pagination_info %} {{ super() }} {% endblock %}

{% block div_row %}
{{super()}}
{% endblock %}<!-- Fin div_row -->

{% block pagination_info_bottom %} {{ super() }} {% endblock %}

{% block pagination %}{{super()}}{% endblock %}


{% endblock %} <!-- Fin bloc main -->

{% block js %}
curTab = "albums-tab"
{% endblock %}
