{% extends "base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='album_page.css') }}" />
{% endblock %}

{% block title %} {{ album.titre }} {% endblock %}

{% block main %}
<div class="infos-row row">
  
  <div class="col-xl-5 col-sm-6 col-xs-12">
    {% if album.imgURL == None %}
    <img src="{{ url_for('static', filename='non_disponible.gif') }}" />
    {% else %}
    <img src="{{ url_for('static', filename='images/'+album.imgURL) }}" />
    {% endif %}
  </div>

  <div class="col-xl-7 col-sm-6 col-xs-12 infos"> <!-- Les informations de l'album -->
    <h1>{{ album.titre }}</h1>

    <h2>Par : <i>{{album.artiste.nom}}</i></h2>

    <h2>Sorti en <i>{{album.annee}}</i></h2>

    <h2 id="genres">Genres :
      <i>
      {% for genre in album.genres %}
      {{genre.nom}}, 
      {% endfor %}
      </i>
    </h2>

    {% if not current_user.is_authenticated %} <!-- Aucun utilisateur authentifié -->
    <a class="ajout btn btn-success" href="{{ url_for('ajout_album_bibliotheque', idAlbum=album.id) }}"><span class="glyphicon glyphicon-heart-empty"></span> Ajouter à ma collection</a> <!-- Bouton pour ajouter le titre aux favoris -->

    {% elif current_user.is_authenticated and deja_possede %} <!-- Utilisateur connecté qui possède l'album dans sa bibliothèque -->
    <a class="ajout btn btn-success" disabled="disabled"><span class="glyphicon glyphicon-ok"></span> Vous possédez déjà cet album</a>

    <a class="ajout btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Supprimer de ma collection</a><!-- supprimer le titre de la collection -->

    {% else %} <!-- Utilisateur connecté qui ne possède pas l'album -->
    <a class="ajout btn btn-success" href="{{ url_for('ajout_album_bibliotheque', idAlbum=album.id) }}"><span class="glyphicon glyphicon-heart-empty"></span> Ajouter à ma collection</a>

    {% endif %}
    {{deja_ajoute}}
  </div><!-- Fin bloc infos de l'album -->
</div>


<div class="autres-albums-artiste-row row"> <!-- Les autres albums de l'artiste -->
  <h1>Autres albums de {{album.artiste.nom}}</h1>
  {% for album in otherAlbumsFromArtist %}
  <div class="col-sm-3 col-xs-6">
    <a href="/albums/album/{{album.id}}">
      {% if album.imgURL == None %}
      <img src="{{ url_for('static', filename='non_disponible.gif') }}" />
      {% else %}
      <img src="{{ url_for('static', filename='images/'+album.imgURL) }}" />
      {% endif %}
      <h2 class="titreAutre">{{album.titre}}</h2>
    </a>
  </div><!-- Fin col -->
  {% endfor %}
</div><!-- Fin row -->


{% endblock %}<!-- Fin bloc main -->


{% block js %}
curTab = "albums-tab"
{% endblock %}

