{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='albums.css') }}"/>
{% endblock %}

{% block title %}Albums{% endblock %}

{% block main %}

<h1>Tous nos albums</h1>

<!-- Bloc avec tous les résultats -->
{% block resultats %}
<h2>Page {{page}} sur {{albums.pages}}</h2>
<div class="row">
  {% for album in albums.items %}
  <div class="col-xs-12 col-sm-4 col-xl-2">
    <a href="#">
    <!-- On montre un aperçu spécial pour le moment (la vraie cover sera mise à l'IUT) -->
    <img src=" {{ url_for('static', filename='non_disponible.jpg') }}" />
    <h3>{{album.titre}}</h3>
    </a>
  </div>
  {% endfor %}
</div>

<h2>Page {{page}} sur {{albums.pages}}</h2>
{% endblock %} <!-- Fin bloc resultats -->


<!-- Bloc pour les liens de pagination -->
{% block pagination %}
<ul class="pagination">

<!-- Page précédente -->
{% if page>1 %}
<li>
      <a href="{{ url_for('albums', page=albums.prev_num) }}" class="page-link" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
</li>
{% endif %}

<!-- Deux pages avant -->
{% if page>2 %}
<li><a class="page-link num-link" href="{{ url_for('albums', page=albums.prev_num-1) }}">{{albums.prev_num-1}}</a></li>
{% endif %}

<!-- Numéro précedent -->
{% if albums.has_prev %}
<li><a class="page-link num-link" href="{{ url_for('albums', page=albums.prev_num) }}">{{albums.prev_num}}</a></li>
{% endif %}

<!-- Le numéro de page courante -->
<li><a class="page-link active" href="#">{{page}}</a></li>

<!-- Numéro suivant -->
{% if albums.has_next %}
<li><a class="page-link num-link" href="{{ url_for('albums', page=albums.next_num) }}">{{albums.next_num}}</a></li>
{% endif %}

<!-- Deux pages après -->
{% if page<=albums.pages-2 %}
<li><a class="page-link num-link" href="{{ url_for('albums', page=albums.next_num+1) }}">{{albums.next_num+1}}</a></li>
{% endif %}

<!-- Page suivante -->
{% if page<albums.pages %}
<li>
      <a href="{{ url_for('albums', page=albums.next_num) }}" class="page-link" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
</li>
{% endif %}
</ul> <!-- Fin de la pagination ul -->

{% endblock %} <!-- Fin bloc pagination -->

{% endblock %} <!-- Fin block main -->

{% block js %}
curTab = "albums-tab"
{% endblock %}
