{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='resultats_base.css') }}" />
{% endblock %}

{% block title %}Artistes{% endblock %}

{% block main %}


{% block pagination_info %}<h2>Page {{page}} sur {{resultats.pages}}</h2>{% endblock %}

<!-- Section avec tous les résultats -->
{% block div_row %}
<div class="row">
  {% for resultat in resultats.items %}
  <div class="col-xl-3 col-md-4 col-sm-6 col-xs-12">
    <a href=" {{ url_for('album', id=resultat.id) }}">
      {% if resultat.imgURL == None %}
      <img src="{{ url_for('static', filename='non_disponible.gif') }}" />
      {% else %}
      <img src="{{ url_for('static', filename='images/'+resultat.imgURL) }}" />
      {% endif %}
      <h3>{{resultat.titre}}</h3>
    </a>
  </div>
  {% endfor %}
</div>
{% endblock %}


{% block pagination_info_bottom %}<h2>Page {{page}} sur {{resultats.pages}}</h2>{% endblock %}

<!-- Le bloc de pagination -->
{% block pagination %}
<ul class="pagination">
  <li><a class="page-link" href="{{ url_for(nom_resultat, page=1) }}">Début</a></li>

  {% for i in range(page-9, page+10) %}

  {% if i>0 and i<resultats.pages and i!=page %}
    <li><a class="page-link num-link" href="{{ url_for(nom_resultat, page=i) }}">{{i}}</a></li>

  {% elif i==page %}
    <li><a class="page-link active" href="{{ url_for(nom_resultat, page=i) }}">{{i}}</a></li>

  {% endif %}
  {% endfor %}
  <li><a class="page-link" href="{{ url_for(nom_resultat, page=resultats.pages) }}">Fin</a></li>
</ul> <!-- Fin de la pagination ul -->
{% endblock %}<!-- Fin bloc pagination -->

{% endblock %} <!-- FIn du bloc main -->
